// ...
$family-sans-serif: 'MozillaTextVariable', 'MozillaText', system-ui, sans-serif;

$title-family: 'MozillaHeadlineVariable', 'MozillaHeadline', $family-sans-serif;
$title-weight: 700;
$title-color: #000;

//
// MozFest 2024
//
$primary: #f06c13;
$secondary: #22c376;
$green: #22c376;
$link: #117dd9;

//
// New brand
//
$radius-small: 0;
$radius: 0;
$radius-large: 0;

//
// ...
//
$sideTabs-background: $primary;
$sideTabs-color: black;
$sideTabs-active: black;
$sideTabs-activeBackground: #ffebf4;

$countdown-background: $link;

$background: #f9f9f9;

$button-border-width: 1px;
$button-padding-vertical: calc(0.1em - #{$button-border-width});
$button-padding-horizontal: 0.7em;

$navbar-item-img-max-height: 2.1rem;

$sponsorRow-largeHeight: 150px !default;
$sponsorRow-mediumHeight: 120px !default;
$sponsorRow-regularHeight: 90px !default;
$sponsorRow-smallHeight: 60px !default;

$whatsOn-titleFamily: $title-family;
$scheduleView-titleFamily: $title-family;

$spatialChat: #ff04b1;
$slack: #b7007e;
$family: #ff4f5e;
$book: #a07dff;
$linkedin: #0a66c2;
$twitter: black;
$discord: #5765f2;
$mastodon: #6364ff;

@mixin title-font() {
  font-family: $title-family;
  font-weight: $title-weight;
}

@import '@openlab/deconf-ui-toolkit/common.scss';
