// ...
$family-sans-serif: 'Nunito Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$title-family: 'Zilla Slab', $family-sans-serif;
$title-weight: 700;
$title-color: #000;

$text-light: #757a8a;

$mradi-red: #b5000f;
$mradi-orange: #e24623;
$mradi-yellow: #ffaa01;
$mradi-blue: #01a9a9;

//
// MozFest
//
$primary: #ff02b1;
$secondary: #8f14fb;
$green: #03cccc;
$link: #6702bf;

//
// House Kenya
//
// $primary: $mradi-orange;
// $secondary: $mradi-yellow;
// $green: $mradi-blue;
// $link: $mradi-red;

//
// ...
//
$sideTabs-background: $link;
$sideTabs-active: #954fd2;
$sideTabs-active: $link;

$countdown-background: $link;

$background: #f4f4f4;

$button-border-width: 1px;
$button-padding-vertical: calc(0.1em - #{$button-border-width});
$button-padding-horizontal: 0.7em;

$navbar-item-img-max-height: 2.1rem;

$sponsorRow-largeHeight: 150px !default;
$sponsorRow-mediumHeight: 120px !default;
$sponsorRow-regularHeight: 90px !default;
$sponsorRow-smallHeight: 60px !default;

$whatsOn-titleFamily: $title-family;
$scheduleView-titleFamily: $title-family;

$spatialChat: #ff04b1;
$slack: #b7007e;
$family: #ff4f5e;
$book: #a07dff;
$linkedin: #0a66c2;
$twitter: black;
$discord: #5765f2;
$mastodon: #6364ff;

@mixin title-font() {
  font-family: $title-family;
  font-weight: $title-weight;
}

@import '@openlab/deconf-ui-toolkit/common.scss';
