//
// Hacks
//
.sideTabs {
  overflow-y: auto;
}

.addToCalendar {
  display: none !important;
}

.atriumLayout {
  flex: 1; // Fill AppLayout
  overflow-x: hidden;
}

.sessionLayout-main {
  // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
  min-width: 0;
}

.content details:not(:last-child) {
  margin-block-end: 1em;
}

.content details {
  border: 2px dashed #ccc;
  padding: 1em;
  border-radius: 0.5rem;
}

.content summary {
  cursor: pointer;
  font-weight: bold;
}

.sessionLayout-back > * {
  display: none;
}

.button.is-twitter {
  background-color: $twitter;
  color: $white;
  border-color: $twitter;
}
.button.is-slack {
  background-color: $slack;
  color: $white;
  border-color: $slack;
}
.button.is-secondary {
  background-color: $secondary;
  color: $white;
  border-color: $secondary;
}
.button.is-discord {
  background-color: $discord;
  color: $white;
  border-color: $discord;
}
.button.is-mastodon {
  background-color: $mastodon;
  color: $white;
  border-color: $mastodon;
}
