//
// Hacks
//
.sideTabs {
  overflow-y: auto;
  margin-top: -24px;
}
.sideTabs-tab {
  margin: 0;
  padding: 12px 0;
}

.addToCalendar {
  display: none !important;
}

.atriumLayout {
  flex: 1; // Fill AppLayout
  overflow-x: hidden;
}

.atriumLayout-right > :nth-child(4n + 1) {
  border-bottom-left-radius: 2.5rem;
}
.atriumLayout-right > :nth-child(4n + 2) {
  border-bottom-right-radius: 2.5rem;
}
.atriumLayout-right > :nth-child(4n + 3) {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.atriumLayout-right > :nth-child(4n) {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}

.sessionLayout-main {
  // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
  min-width: 0;
}

.content details:not(:last-child) {
  margin-block-end: 1em;
}

.content details {
  border: 2px dashed #ccc;
  padding: 1em;
  border-radius: $radius;
}

.content summary {
  cursor: pointer;
  font-weight: bold;
}

.sessionLayout-back > * {
  display: none;
}

.button.is-twitter {
  background-color: $twitter;
  color: $white;
  border-color: $twitter;
}
.button.is-slack {
  background-color: $slack;
  color: $white;
  border-color: $slack;
}
.button.is-secondary {
  background-color: $secondary;
  color: $white;
  border-color: $secondary;
}
.button.is-discord {
  background-color: $discord;
  color: $white;
  border-color: $discord;
}
.button.is-mastodon {
  background-color: $mastodon;
  color: $white;
  border-color: $mastodon;
}
.button.is-linkedin {
  background-color: $linkedin;
  color: $white;
  border-color: $linkedin;
}

.sideTabs-tab {
  font-weight: 600;
}

.scheduleHeader.is-primary {
  background-color: $secondary;
}
.sideTabs-tab .sideTabs-tabText,
.sideTabs-tab .sideTabs-tabIcon {
  opacity: 1;
}

.sideTabs-tab:hover:not(.is-active) {
  color: white;
}

.button.is-google {
  background-color: #4183f1;
  color: white;
  border-color: #4183f1;
}

.scheduleHeader-title {
  color: $black;
}

.button.is-primary {
  color: $black;
}
.button.is-primary.is-light {
  color: #06546e;
}

.sessionTile-description {
  word-break: break-word;
}

@include mobile {
  .navigationBar .navbar-menu .navbar-item.is-active {
    color: $black;
    background: $primary;
  }
}
